.build {
	font-size: 275%;
}


.working {
	padding-left: 40px;
}

.failed .working {
	background: url(failed_spinner.gif) no-repeat 1px 15px;
}

.passed .working {
	background: url(passing_spinner.gif) no-repeat 1px 15px;
}
