html, body.single {
	height: 100%;
}

ul.builds {
	min-height: 100%;
	height:auto !important;
	height: 100%;
}

li.build {
	min-height: 100%;
	height:auto !important; 
	height: 100%;
	display: block;
}