li.build {
	float:  left;
	width: 300px;	
}

.build {
	font-size: 125%;
}

.project {
	display: block;
}

.working {
	padding-left: 30px !important;
	margin-left: 10px;
}

.failed .working {
	background: url(failed_spinner.gif) no-repeat 1px 15px !important;
}

.passed .working {
	background: url(passing_spinner.gif) no-repeat 1px 15px !important;
}